In [8]:
import requests
import pandas as pd

api_key = "PQyGMdEdKnn5JJKJEjROp3Wij9yjgEmC"

tickers = ["MSFT"]

# define time periods for financial statement data
statement_type = "pl"
time_periods = ["Q1","Q2","Q3","Q4"]
year_start = 2013
year_end = 2018

In [14]:
sim_ids = []
for ticker in tickers:

    request_url = f'https://simfin.com/api/v1/info/find-id/ticker/{ticker}?api-key={api_key}'
    content = requests.get(request_url)
    data = content.json()

    if "error" in data or len(data) < 1:
        sim_ids.append(None)
    else:
        sim_ids.append(data[0]['simId'])

print(sim_ids)

[59265]

In [10]:
# define time periods for financial statement data
statement_type = "pl"
time_periods = ["Q1","Q2","Q3","Q4"]
year_start = 2013
year_end = 2018

In [11]:
data = {}
for idx, sim_id in enumerate(sim_ids):
    d = data[tickers[idx]] = {"Line Item": []}
    if sim_id is not None:
        for year in range(year_start, year_end + 1):
            for time_period in time_periods:

                period_identifier = time_period + "-" + str(year)

                if period_identifier not in d:
                    d[period_identifier] = []

                request_url = f'https://simfin.com/api/v1/companies/id/{sim_id}/statements/standardised?stype={statement_type}&fyear={year}&ptype={time_period}&api-key={api_key}'

                content = requests.get(request_url)
                statement_data = content.json()

                # collect line item names once, they are the same for all companies with the standardised data
                if len(d['Line Item']) == 0:
                    d['Line Item'] = [x['standardisedName'] for x in statement_data['values']]

                if 'values' in statement_data:
                    for item in statement_data['values']:
                        d[period_identifier].append(item['valueChosen'])
                else:
                    # no data found for time period
                    d[period_identifier] = [None for _ in d['Line Item']]

In [13]:
df = pd.DataFrame(data=d)
df

,Line Item,Q1-2013,Q2-2013,Q3-2013,Q4-2013,Q1-2014,Q2-2014,Q3-2014,Q4-2014,Q1-2015,...,Q3-2016,Q4-2016,Q1-2017,Q2-2017,Q3-2017,Q4-2017,Q1-2018,Q2-2018,Q3-2018,Q4-2018
0,Revenue,16008000000,21456000000,20489000000,1.989600e+10,18529000000,24519000000,20403000000,2.338200e+10,23201000000,...,20531000000,2.644800e+10,21928000000,25826000000,23212000000,2.560500e+10,24538000000,28918000000,26819000000,3.008500e+10
1,Sales & Services Revenue,None,None,None,NaN,None,None,None,8.683300e+10,None,...,20531000000,-6.470600e+10,21928000000,25826000000,23212000000,-7.096600e+10,None,28918000000,26819000000,-5.573700e+10
2,Financing Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
3,Other Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
4,Cost of revenue,-4168000000,-5692000000,-4787000000,-5.738000e+09,-5145000000,-8322000000,-5978000000,-7.633000e+09,-8273000000,...,-7722000000,-7.979000e+09,-7844000000,-9901000000,-8060000000,-8.456000e+09,-8278000000,-11064000000,-9269000000,-9.742000e+09
5,Cost of Goods & Services,None,None,None,NaN,None,None,None,-2.707800e+10,None,...,-7722000000,2.480100e+10,-7844000000,-9901000000,-8060000000,2.580500e+10,None,-11064000000,-9269000000,2.033300e+10
6,Cost of Financing Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
7,Cost of Other Revenue,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
8,Gross Profit,11840000000,15764000000,15702000000,1.415800e+10,13384000000,16197000000,14425000000,1.574900e+10,14928000000,...,12809000000,1.846900e+10,14084000000,15925000000,15152000000,1.714900e+10,16260000000,17854000000,17550000000,2.034300e+10
9,Other Operating Income,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
10,Operating Expenses,-6532000000,-7993000000,-8090000000,-8.085000e+09,-7050000000,-8228000000,-7451000000,-9.140000e+09,-7944000000,...,-7526000000,-8.383000e+09,-7369000000,-8020000000,-8429000000,-9.161000e+09,-8552000000,-9175000000,-9258000000,-9.964000e+09
11,"Selling, General & Administrative",-4072000000,-5465000000,-5450000000,-5.302000e+09,-4283000000,-5480000000,-4708000000,-6.017000e+09,-4879000000,...,-4546000000,-5.237000e+09,-4263000000,-4958000000,-5074000000,-5.647000e+09,-4978000000,-5671000000,-5543000000,-6.031000e+09
12,Selling & Marketing,-2945000000,-4309000000,-3794000000,-4.228000e+09,-3304000000,-4283000000,-3542000000,-4.682000e+09,-3728000000,...,-3406000000,-3.936000e+09,-3218000000,-4079000000,-3872000000,-4.292000e+09,-3812000000,-4562000000,-4335000000,-4.760000e+09
13,General & Administrative,-1127000000,-1156000000,-1656000000,-1.074000e+09,-979000000,-1197000000,-1166000000,-1.335000e+09,-1151000000,...,-1140000000,-1.301000e+09,-1045000000,-879000000,-1202000000,-1.355000e+09,-1166000000,-1109000000,-1208000000,-1.271000e+09
14,Research & Development,-2460000000,-2528000000,-2640000000,-2.783000e+09,-2767000000,-2748000000,-2743000000,-3.123000e+09,-3065000000,...,-2980000000,-3.146000e+09,-3106000000,-3062000000,-3355000000,-3.514000e+09,-3574000000,-3504000000,-3715000000,-3.933000e+09
15,Depreciation & Amortization,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
16,Provision For Doubtful Accounts,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
17,Other Operating Expense,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
18,Operating Income (Loss),5308000000,7771000000,7612000000,6.073000e+09,6334000000,7969000000,6974000000,6.609000e+09,6984000000,...,5283000000,1.008600e+10,6715000000,7905000000,6723000000,7.988000e+09,7708000000,8679000000,8292000000,1.037900e+10
19,Non-Operating Income (Loss),226000000,-1000000,-9000000,7.200000e+07,74000000,-91000000,-17000000,9.500000e+07,52000000,...,-247000000,2.590000e+08,112000000,117000000,371000000,2.760000e+08,276000000,490000000,349000000,3.010000e+08
20,"Interest Expense, net",None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
21,Interest Expense,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
22,Interest Income,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
23,Other Investment Income (Loss),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
24,Foreign Exchange Gain (Loss),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
25,Income (Loss) from Affiliates,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
26,Other Non-Operating Income (Loss),226000000,-1000000,-9000000,7.200000e+07,74000000,-91000000,-17000000,9.500000e+07,52000000,...,-247000000,2.590000e+08,112000000,117000000,371000000,2.760000e+08,276000000,490000000,349000000,3.010000e+08
27,"Pretax Income (Loss), Adjusted",5534000000,7770000000,7603000000,6.145000e+09,6408000000,7878000000,6957000000,6.704000e+09,7036000000,...,5036000000,1.034500e+10,6827000000,8022000000,7094000000,8.264000e+09,7984000000,9169000000,8641000000,1.068000e+10
28,Abnormal Gains (Losses),None,None,None,0.000000e+00,0,0,0,-1.270000e+08,-1140000000,...,None,-1.110000e+09,None,None,None,-3.060000e+08,None,None,None,0.000000e+00
29,Acquired In-Process R&D,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
30,Merger / Acquisition Expense,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
31,Abnormal Derivatives,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
32,Disposal of Assets,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
33,Early extinguishment of Debt,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
34,Asset Write-Down,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
35,Impairment of Goodwill & Intangibles,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
36,Sale of Business,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
37,Legal Settlement,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
38,Restructuring Charges,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
39,Sale of and Unrealized Investments,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
40,Insurance Settlement,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
41,Other Abnormal Items,None,None,None,0.000000e+00,0,0,0,-1.270000e+08,-1140000000,...,None,-1.110000e+09,None,None,None,-3.060000e+08,None,None,None,0.000000e+00
42,Pretax Income (Loss),5534000000,7770000000,7603000000,6.145000e+09,6408000000,7878000000,6957000000,6.577000e+09,5896000000,...,5036000000,9.235000e+09,6827000000,8022000000,7094000000,7.958000e+09,7984000000,9169000000,8641000000,1.068000e+10
43,"Income Tax (Expense) Benefit, net",-1068000000,-1393000000,-1548000000,-1.180000e+09,-1164000000,-1320000000,-1297000000,-1.965000e+09,-1356000000,...,-1280000000,-2.372000e+09,-1160000000,-1755000000,-1608000000,1.110000e+08,-1408000000,-15471000000,-1217000000,-1.807000e+09
44,Current Income Tax,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
45,Deferred Income Tax,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
46,Tax Allowance/Credit,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
47,"Income (Loss) from Affiliates, net of taxes",None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
48,Income (Loss) from Continuing Operations,4466000000,6377000000,6055000000,4.965000e+09,5244000000,6558000000,5660000000,4.612000e+09,4540000000,...,3756000000,6.863000e+09,5667000000,6267000000,5486000000,8.069000e+09,6576000000,-6302000000,7424000000,8.873000e+09
49,Net Extraordinary Gains (Losses),None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
50,Discontinued Operations,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
51,XO & Accounting Charges & Other,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
52,Income (Loss) Including Minority Interest,4466000000,6377000000,6055000000,4.965000e+09,5244000000,6558000000,5660000000,4.612000e+09,4540000000,...,3756000000,6.863000e+09,5667000000,6267000000,5486000000,8.069000e+09,6576000000,-6302000000,7424000000,8.873000e+09
53,Minority Interest,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
54,Net Income,4466000000,6377000000,6055000000,4.965000e+09,5244000000,6558000000,5660000000,4.612000e+09,4540000000,...,3756000000,6.863000e+09,5667000000,6267000000,5486000000,8.069000e+09,6576000000,-6302000000,7424000000,8.873000e+09
55,Preferred Dividends,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
56,Other Adjustments,None,None,None,NaN,None,None,None,NaN,None,...,None,NaN,None,None,None,NaN,None,None,None,NaN
57,Net Income Available to Common Shareholders,4466000000,6377000000,6055000000,4.965000e+09,5244000000,6558000000,5660000000,4.612000e+09,4540000000,...,3756000000,6.863000e+09,5667000000,6267000000,5486000000,8.069000e+09,6576000000,-6302000000,7424000000,8.873000e+09