## Dependencies

In [42]:
import os
import time
import pandas as pd
import json
import requests
from Alpha_key import API_KEY
from sql_conn import password
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

## SQL Stuff

In [3]:
# host="secondawsdb.caa0qcwnjnci.us-east-2.rds.amazonaws.com"
# port=3307
# dbname="stock_data"
# user="root"
# password=f"{password}"

In [43]:
host="localhost"
port=3306
dbname="stock_data"
user="root"
password=f"{password}"

engine = create_engine(f"mysql://root:{password}@{host}:{port}/stock_data")

Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(engine)

Base.metadata.tables

immutabledict({})

## Create batches

In [44]:
b1 = ['MSFT', 'WMT', 'V', 'AXP', 'PG']
b2 = ['CVX', 'JNJ', 'HD', 'KO', 'NKE']
b3 = ['JPM', 'MCD', 'UTX', 'MMM', 'AAPL']
b4 = ['GS', 'IBM', 'TRV', 'VZ', 'CSCO']
b5 = ['DIS', 'UNH', 'XOM', 'MRK', 'BA']
b6 = ['INTC', 'DWDP', 'CAT', 'PFE', 'WBA']

DJIA = [b1, b2, b3, b4, b5, b6]

## Define Function

In [45]:
def getData():    
    response = requests.get(f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
    data = response.json()
    for key in data[f'Technical Analysis: {Measure}']:
        data[f'Technical Analysis: {Measure}'][key].update({'Symbol' :f"{ticker}"})
    output_df.append(data[f'Technical Analysis: {Measure}'])

## First Batch

In [46]:
#b1
Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
#callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []


for ticker in b1:
    getData()

STOCH_b1 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b1.append(output_df[x])

In [ ]:
#b1
STOCH = STOCH_b1
STOCH_MSFT = STOCH[0]; STOCH_WMT = STOCH[1]; STOCH_V = STOCH[2]; STOCH_AXP = STOCH[3]; STOCH_PG = STOCH[4]; 

#b1
STOCH_MSFT = STOCH_MSFT.reset_index(drop=False)
STOCH_WMT = STOCH_WMT.reset_index(drop=False)
STOCH_V = STOCH_V.reset_index(drop=False)
STOCH_AXP = STOCH_AXP.reset_index(drop=False)
STOCH_PG = STOCH_PG.reset_index(drop=False)

#b1
STOCH_MSFT.to_sql(name = f'{Measure}_MSFT', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_WMT.to_sql(name = f'{Measure}_WMT', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_V.to_sql(name = f'{Measure}_V', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_AXP.to_sql(name = f'{Measure}_AXP', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_PG.to_sql(name = f'{Measure}_PG', con = engine,
        if_exists = 'replace', chunksize = 75)

## Second Batch

In [25]:
#b2
Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
#callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []


for ticker in b2:
    getData()

STOCH_b2 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b2.append(output_df[x])

In [ ]:
STOCH = STOCH_b2

STOCH_CVX = STOCH[0]
STOCH_JNJ = STOCH[1]
STOCH_HD = STOCH[2]
STOCH_KO = STOCH[3]
STOCH_NKE = STOCH[4]

STOCH_CVX = STOCH_CVX.reset_index(drop=False)
STOCH_JNJ = STOCH_JNJ.reset_index(drop=False)
STOCH_HD = STOCH_HD.reset_index(drop=False)
STOCH_KO = STOCH_KO.reset_index(drop=False)
STOCH_NKE = STOCH_NKE.reset_index(drop=False)

STOCH_CVX.to_sql(name = f'{Measure}_CVX', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_JNJ.to_sql(name = f'{Measure}_JNJ', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_HD.to_sql(name = f'{Measure}_HD', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_KO.to_sql(name = f'{Measure}_KO', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_NKE.to_sql(name = f'{Measure}_NKE', con = engine,
        if_exists = 'replace', chunksize = 75)

## Third Batch

In [27]:
#b3
Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
#callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []


for ticker in b3:
    getData()

STOCH_b3 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b3.append(output_df[x])

In [ ]:
STOCH = STOCH_b3

STOCH_JPM = STOCH[0]
STOCH_MCD = STOCH[1]
STOCH_UTX = STOCH[2]
STOCH_MMM = STOCH[3]
STOCH_AAPL = STOCH[4]

STOCH_JPM = STOCH_JPM.reset_index(drop=False)
STOCH_MCD = STOCH_MCD.reset_index(drop=False)
STOCH_UTX = STOCH_UTX.reset_index(drop=False)
STOCH_MMM = STOCH_MMM.reset_index(drop=False)
STOCH_AAPL = STOCH_AAPL.reset_index(drop=False)

STOCH_JPM.to_sql(name = f'{Measure}_JPM', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_MCD.to_sql(name = f'{Measure}_MCD', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_UTX.to_sql(name = f'{Measure}_UTX', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_MMM.to_sql(name = f'{Measure}_MMM', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_AAPL.to_sql(name = f'{Measure}_AAPL', con = engine,
        if_exists = 'replace', chunksize = 75)

## Fourth Batch

In [29]:
#b4 = ['GS', 'IBM', 'TRV', 'VZ', 'CSCO']
def getData():    
    response = requests.get(callUrl)
    data = response.json()
    for key in data[f'Technical Analysis: {Measure}']:
        data[f'Technical Analysis: {Measure}'][key].update({'Symbol' :f"{ticker}"})
    output_df.append(data[f'Technical Analysis: {Measure}'])

Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []
for ticker in b4:
    getData()

STOCH_b4 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b4.append(output_df[x])

In [ ]:
STOCH = STOCH_b4

STOCH_GS = STOCH[0]
STOCH_IBM = STOCH[1]
STOCH_TRV = STOCH[2]
STOCH_VZ = STOCH[3]
STOCH_CSCO = STOCH[4]

STOCH_GS = STOCH_GS.reset_index(drop=False)
STOCH_IBM = STOCH_IBM.reset_index(drop=False)
STOCH_TRV = STOCH_TRV.reset_index(drop=False)
STOCH_VZ = STOCH_VZ.reset_index(drop=False)
STOCH_CSCO = STOCH_CSCO.reset_index(drop=False)

STOCH_GS.to_sql(name = f'{Measure}_GS', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_IBM.to_sql(name = f'{Measure}_IBM', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_TRV.to_sql(name = f'{Measure}_TRV', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_VZ.to_sql(name = f'{Measure}_VZ', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_CSCO.to_sql(name = f'{Measure}_CSCO', con = engine,
        if_exists = 'replace', chunksize = 75)

## Fifth Batch

In [31]:
#b5 = ['DIS', 'UNH', 'XOM', 'MRK', 'BA']
def getData():    
    response = requests.get(callUrl)
    data = response.json()
    for key in data[f'Technical Analysis: {Measure}']:
        data[f'Technical Analysis: {Measure}'][key].update({'Symbol' :f"{ticker}"})
    output_df.append(data[f'Technical Analysis: {Measure}'])

Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []
for ticker in b5:
    getData()

STOCH_b5 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b5.append(output_df[x])

In [ ]:
STOCH = STOCH_b5

STOCH_DIS = STOCH[0]
STOCH_UNH = STOCH[1]
STOCH_XOM = STOCH[2]
STOCH_MRK = STOCH[3]
STOCH_BA = STOCH[4]

STOCH_DIS = STOCH_DIS.reset_index(drop=False)
STOCH_UNH = STOCH_UNH.reset_index(drop=False)
STOCH_XOM = STOCH_XOM.reset_index(drop=False)
STOCH_MRK = STOCH_MRK.reset_index(drop=False)
STOCH_BA = STOCH_BA.reset_index(drop=False)

STOCH_DIS.to_sql(name = f'{Measure}_DIS', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_UNH.to_sql(name = f'{Measure}_UNH', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_XOM.to_sql(name = f'{Measure}_XOM', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_MRK.to_sql(name = f'{Measure}_MRK', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_BA.to_sql(name = f'{Measure}_BA', con = engine,
        if_exists = 'replace', chunksize = 75)

## Sixth Batch

In [39]:
# b6 = ['INTC', 'DWDP', 'CAT', 'PFE', 'WBA']
def getData():    
    response = requests.get(callUrl)
    data = response.json()
    for key in data[f'Technical Analysis: {Measure}']:
        data[f'Technical Analysis: {Measure}'][key].update({'Symbol' :f"{ticker}"})
    output_df.append(data[f'Technical Analysis: {Measure}'])

Measure = "STOCH"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
callUrl = (f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}") + (f"&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
time_period = "20"
output_df = []
for ticker in b6:
    getData()

STOCH_b6 = []
for x in range(0,5):
    output_df[x] = pd.DataFrame.from_dict(output_df[x], orient='index')
    STOCH_b6.append(output_df[x])

In [ ]:
STOCH = STOCH_b6

STOCH_INTC = STOCH[0]
STOCH_DWDP = STOCH[1]
STOCH_CAT = STOCH[2]
STOCH_PFE = STOCH[3]
STOCH_WBA = STOCH[4]

STOCH_INTC = STOCH_INTC.reset_index(drop=True)
STOCH_DWDP = STOCH_DWDP.reset_index(drop=False)
STOCH_CAT = STOCH_CAT.reset_index(drop=False)
STOCH_PFE = STOCH_PFE.reset_index(drop=False)
STOCH_WBA = STOCH_WBA.reset_index(drop=False)

STOCH_INTC.to_sql(name = f'{Measure}_INTC', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_DWDP.to_sql(name = f'{Measure}_DWDP', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_CAT.to_sql(name = f'{Measure}_CAT', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_PFE.to_sql(name = f'{Measure}_PFE', con = engine,
        if_exists = 'replace', chunksize = 75)
STOCH_WBA.to_sql(name = f'{Measure}_WBA', con = engine,
        if_exists = 'replace', chunksize = 75)

In [40]:
STOCH = STOCH_b6

STOCH_INTC = STOCH[0]

In [41]:
STOCH_INTC

                       SlowK    SlowD Symbol
1998-01-14           91.3535  62.9662   INTC
1998-01-15           86.0881  79.8946   INTC
1998-01-16           89.9214  89.1210   INTC
1998-01-20           88.6142  88.2079   INTC
1998-01-21           83.9351  87.4903   INTC
1998-01-22           75.1639  82.5711   INTC
1998-01-23           60.3095  73.1362   INTC
1998-01-26           41.5910  59.0215   INTC
1998-01-27           26.7431  42.8812   INTC
1998-01-28           27.3284  31.8875   INTC
1998-01-29           43.2586  32.4434   INTC
1998-01-30           45.5132  38.7001   INTC
1998-02-02           55.9613  48.2443   INTC
1998-02-03           68.7096  56.7280   INTC
1998-02-04           82.2086  68.9598   INTC
1998-02-05           75.1363  75.3515   INTC
1998-02-06           60.5632  72.6360   INTC
1998-02-09           51.7620  62.4872   INTC
1998-02-10           56.4746  56.2666   INTC
1998-02-11           73.0628  60.4331   INTC
1998-02-12           90.2816  73.2730   INTC
1998-02-13           81.1028  81.4824   INTC
1998-02-17           57.5521  76.3121   INTC
1998-02-18           27.9126  55.5225   INTC
1998-02-19           15.2913  33.5853   INTC
1998-02-20           34.9372  26.0470   INTC
1998-02-23           58.4397  36.2227   INTC
1998-02-24           78.9227  57.4332   INTC
1998-02-25           76.4151  71.2591   INTC
1998-02-26           74.4207  76.5861   INTC
...                      ...      ...    ...
2019-01-28           43.5638  37.7859   INTC
2019-01-29           53.5816  44.7369   INTC
2019-01-30           56.0741  51.0732   INTC
2019-01-31           65.2425  58.2994   INTC
2019-02-01           69.8036  63.7067   INTC
2019-02-04           61.6192  65.5551   INTC
2019-02-05           42.4964  57.9731   INTC
2019-02-06           32.3874  45.5010   INTC
2019-02-07           33.6786  36.1875   INTC
2019-02-08           33.0245  33.0302   INTC
2019-02-11           35.2053  33.9695   INTC
2019-02-12           50.2281  39.4860   INTC
2019-02-13           72.2586  52.5640   INTC
2019-02-14           85.0609  69.1825   INTC
2019-02-15           87.2666  81.5287   INTC
2019-02-19           86.1577  86.1617   INTC
2019-02-20           63.7651  79.0632   INTC
2019-02-21           35.4347  61.7858   INTC
2019-02-22           10.1128  36.4375   INTC
2019-02-25           15.1527  20.2334   INTC
2019-02-26           29.7438  18.3364   INTC
2019-02-27           52.9693  32.6219   INTC
2019-02-28           65.4465  49.3866   INTC
2019-03-01           52.4333  56.9497   INTC
2019-03-04           27.2166  48.3655   INTC
2019-03-05            6.6570  28.7690   INTC
2019-03-06            4.2219  12.6985   INTC
2019-03-07            2.8773   4.5854   INTC
2019-03-08            3.7458   3.6150   INTC
2019-03-11 16:00:01  10.9760   5.8663   INTC

[5322 rows x 3 columns]

In [38]:


STOCH_INTC = STOCH_INTC.reset_index(drop=True)
STOCH_INTC

                    index    SlowD    SlowK Symbol
0              1998-01-14  24.3467  39.7808   INTC
1              1998-01-15  30.6391  32.7142   INTC
2              1998-01-16  33.6039  28.3169   INTC
3              1998-01-20  24.9211  13.7322   INTC
4              1998-01-21  21.5930  22.7299   INTC
5              1998-01-22  27.8402  47.0587   INTC
6              1998-01-23  42.5074  57.7337   INTC
7              1998-01-26  56.6203  65.0685   INTC
8              1998-01-27  61.2057  60.8149   INTC
9              1998-01-28  66.3295  73.1050   INTC
10             1998-01-29  72.0011  82.0833   INTC
11             1998-01-30  80.5206  86.3735   INTC
12             1998-02-02  84.8730  86.1622   INTC
13             1998-02-03  86.3461  86.5025   INTC
14             1998-02-04  78.0581  61.5097   INTC
15             1998-02-05  62.9824  40.9350   INTC
16             1998-02-06  39.8957  17.2425   INTC
17             1998-02-09  25.2283  17.5074   INTC
18             1998-02-10  24.5901  39.0204   INTC
19             1998-02-11  41.0530  66.6313   INTC
20             1998-02-12  66.4808  93.7907   INTC
21             1998-02-13  84.7818  93.9235   INTC
22             1998-02-17  93.8356  93.7926   INTC
23             1998-02-18  91.8964  87.9729   INTC
24             1998-02-19  85.7817  75.5795   INTC
25             1998-02-20  73.2168  56.0979   INTC
26             1998-02-23  57.0606  39.5045   INTC
27             1998-02-24  43.4338  34.6989   INTC
28             1998-02-25  41.1833  49.3464   INTC
29             1998-02-26  52.6094  73.7829   INTC
...                   ...      ...      ...    ...
5292           2019-01-28  56.3476  64.2372   INTC
5293           2019-01-29  65.5291  75.6368   INTC
5294           2019-01-30  73.0276  79.2089   INTC
5295           2019-01-31  79.2957  83.0414   INTC
5296           2019-02-01  82.3336  84.7507   INTC
5297           2019-02-04  85.5047  88.7220   INTC
5298           2019-02-05  89.2355  94.2338   INTC
5299           2019-02-06  93.1189  96.4010   INTC
5300           2019-02-07  92.3815  86.5096   INTC
5301           2019-02-08  86.1471  75.5306   INTC
5302           2019-02-11  73.2966  57.8496   INTC
5303           2019-02-12  64.8793  61.2577   INTC
5304           2019-02-13  62.3970  68.0838   INTC
5305           2019-02-14  70.5103  82.1894   INTC
5306           2019-02-15  79.6132  88.5663   INTC
5307           2019-02-19  86.4627  88.6325   INTC
5308           2019-02-20  90.5427  94.4293   INTC
5309           2019-02-21  88.8823  83.5849   INTC
5310           2019-02-22  88.4135  87.2262   INTC
5311           2019-02-25  84.0364  81.2980   INTC
5312           2019-02-26  84.4895  84.9442   INTC
5313           2019-02-27  83.6079  84.5814   INTC
5314           2019-02-28  86.1777  89.0074   INTC
5315           2019-03-01  87.2371  88.1225   INTC
5316           2019-03-04  82.0948  69.1545   INTC
5317           2019-03-05  67.0951  44.0083   INTC
5318           2019-03-06  45.1366  22.2469   INTC
5319           2019-03-07  27.4907  16.2169   INTC
5320           2019-03-08  18.9233  18.3061   INTC
5321  2019-03-11 16:00:12  22.1106  31.8088   INTC

[5322 rows x 4 columns]

In [36]:
engine.execute(sql_command)

In [ ]:
#b2
STOCH_MSFT = STOCH[0]
STOCH_WMT = STOCH[1]
STOCH_V = STOCH[2]
STOCH_AXP = STOCH[3]
STOCH_PG = STOCH[4]

In [ ]:
#b3
STOCH_MSFT = STOCH[0]
STOCH_WMT = STOCH[1]
STOCH_V = STOCH[2]
STOCH_AXP = STOCH[3]
STOCH_PG = STOCH[4]

In [ ]:
#b4
STOCH_MSFT = STOCH[0]
STOCH_WMT = STOCH[1]
STOCH_V = STOCH[2]
STOCH_AXP = STOCH[3]
STOCH_PG = STOCH[4]

In [ ]:
#b5
STOCH_MSFT = STOCH[0]
STOCH_WMT = STOCH[1]
STOCH_V = STOCH[2]
STOCH_AXP = STOCH[3]
STOCH_PG = STOCH[4]

In [ ]:
#b6
STOCH_MSFT = STOCH[0]
STOCH_WMT = STOCH[1]
STOCH_V = STOCH[2]
STOCH_AXP = STOCH[3]
STOCH_PG = STOCH[4]

In [ ]:
Measure = "BBANDS"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
time_period = "20"
BBANDS = []

for ticker in b1:
    response = requests.get(
        f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}&time_period={time_period}&series_type={series_type}&nbdevup=3&nbdevdn=3&apikey={API_KEY}")
    data = response.json()
    BBANDS.append(data)
       
BBANDS

In [ ]:
Measure = "EMA"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
series_type = "close"
time_period = "20"
EMA = []

for ticker in b1:
    response = requests.get(
        f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}&time_period={time_period}&series_type={series_type}&apikey={API_KEY}")
    data = response.json()
    EMA.append(data)
       
EMA

In [ ]:
Measure = "ADX"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
time_period = "20"
ADX = []

for ticker in b1:
    response = requests.get(
        f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}&time_period={time_period}&apikey={API_KEY}")
    data = response.json()
    ADX.append(data)
     
ADX

In [ ]:
Measure = "CCI"
output = "full"
MainUrl = "https://www.alphavantage.co/query?"
interval = "daily"
time_period = "20"
CCI = []

for ticker in b1:
    response = requests.get(
        f"{MainUrl}function={Measure}&symbol={ticker}&interval={interval}&time_period={time_period}&apikey={API_KEY}")
    data = response.json()
    CCI.append(data)
     
CCI

In [ ]:
#sql_add_STOCH = con.execute()

In [ ]:
cursor.execute("USE stock_data")
daily_adj.to_sql(
    name = 'daily_adj', conn = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `daily_adj` ADD PRIMARY KEY (`index`);')

In [ ]:
cursor.execute("USE stock_data")
STOCH.to_sql(
    name = 'STOCH', conn = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `STOCH` ADD PRIMARY KEY (`index`);')

In [ ]:
engine.execute("USE stock_data")
STOCH.to_sql(
    name = 'STOCH', con = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `STOCH` ADD PRIMARY KEY (`index`);')

In [ ]:
engine.execute("USE stock_data")
BBANDS.to_sql(
    name = 'BBANDS', con = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `BBANDS` ADD PRIMARY KEY (`index`);')

In [ ]:
engine.execute("USE stock_data")
STOCH.to_sql(
    name = 'STOCH', con = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `STOCH` ADD PRIMARY KEY (`index`);')