In [76]:
import pandas as pd
import json
import requests
import quandl
from Quandl_key import API_KEY

In [77]:
nyse_df = pd.read_csv("NYSE.csv")

In [78]:
nyse_tickers = nyse_df["Symbol"]
nyse_tickers

0        DDD
1        MMM
2       WBAI
3       WUBA
4       EGHT
5        AHC
6        AOS
7       ATEN
8        AAC
9        AIR
10       AAN
11       ABB
12       ABT
13      ABBV
14       ANF
15       AGD
16       AWP
17       ACP
18       JEQ
19       AOD
20       ABM
21       AKR
22       ACN
23      ACCO
24       ATV
25       ATU
26       AYI
27      GOLF
28       ADX
29       PEO
        ...
2544     WWE
2545      WP
2546     WOR
2547     WPP
2548     WPX
2549    WYND
2550      WH
2551     XYF
2552    XFLT
2553     XHR
2554     XRX
2555     XIN
2556     XPO
2557     XYL
2558     AUY
2559    YELP
2560    YETI
2561    YEXT
2562     YRD
2563     YPF
2564    YUMC
2565     YUM
2566    ZAYO
2567     ZEN
2568     ZBH
2569     ZBK
2570     ZTS
2571     ZTO
2572     ZUO
2573    ZYME
Name: Symbol, Length: 2574, dtype: object

In [106]:
b1 = nyse_tickers[1:4]

b2 = nyse_tickers[312:623]
b3 = nyse_tickers[624:935]
b4 = nyse_tickers[936:1247]
b5 = nyse_tickers[1248:1557]
b6 = nyse_tickers[1558:1867]
b7 = nyse_tickers[1868:2177]
b8 = nyse_tickers[2178:2587]


print(b1)

2    WBAI
3    WUBA
Name: Symbol, dtype: object

In [107]:
nyse_batch = [b1, b2, b3, b4, b5, b6, b7, b8]
nyse_batch

[2    WBAI
 3    WUBA
 Name: Symbol, dtype: object, 312     EGF
 313     FRA
 314     BFO
 315     BGT
 316     BOE
 317     BME
 318     BAF
 319     BKT
 320     BGY
 321     BKN
 322     BTA
 323     BZM
 324     MHE
 325     BIT
 326     MUI
 327     MNE
 328     MUA
 329     BKK
 330     BBK
 331     BBF
 332     BYM
 333     BFK
 334     BLE
 335     BTT
 336     MEN
 337     MUC
 338     MUH
 339     MHD
 340     MFL
 341     MUJ
        ...
 593     FOF
 594     INB
 595     CNS
 596     UTF
 597     LDP
 598     MIE
 599     RQI
 600     RNP
 601     PSF
 602     RFI
 603     CFX
 604    CFXA
 605      CL
 606     CCH
 607     CXE
 608     CIF
 609     CXH
 610     CMU
 611    CLNY
 612    CLNC
 613     CXP
 614     STK
 615     CCZ
 616     CMA
 617     FIX
 618     CMC
 619     CBU
 620     CYH
 621    CHCT
 622     CIG
 Name: Symbol, Length: 311, dtype: object, 624     SBS
 625     ELP
 626     CCU
 627    CODI
 628     CMP
 629     CRK
 630     CAG
 631     CXO
 632     CCM
 633    CNDT
 634     COP
 635     CCR
 636      ED
 637     STZ
 638    CSTM
 639     TCS
 640    CBPX
 641     CLR
 642    VLRS
 643    CTRA
 644     CTB
 645     CPS
 646     CTK
 647     CPA
 648     CLB
 649     CXW
 650    CLGX
 651    CORR
 652    CPLG
 653     COR
        ...
 905     ETH
 906    EURN
 907     EEA
 908      EB
 909     EVR
 910      RE
 911    EVRG
 912    EVRI
 913      ES
 914    EVTC
 915     EVH
 916    AQUA
 917     XAN
 918     EXC
 919    EXPR
 920    EXTN
 921     EXR
 922     XOM
 923     FNB
 924      FN
 925     FDS
 926    FICO
 927    SFUN
 928    FPAC
 929    FTCH
 930     FPI
 931     FBK
 932     FFG
 933     AGM
 934     FRT
 Name: Symbol, Length: 311, dtype: object, 936                FII
 937                FMN
 938                FDX
 939               RACE
 940                FGP
 941                FOE
 942                 FG
 943               FCAU
 944                FNF
 945                FIS
 946                FMO
 947                FAF
 948                FBP
 949                FCF
 950                FDC
 951                FHN
 952                 FR
 953                 AG
 954                FRC
 955                FFA
 956                FMY
 957               FDEU
 958                FIF
 959                FSD
 960                FPF
 961     FEI
 962                FPL
 963                FIV
 964                FCT
 965                FGB
              ...
 1217              INFY
 1218              HIFR
 1219               ING
 1220               ISF
 1221               ISG
 1222                IR
 1223              NGVT
 1224              INGR
 1225              IIPR
 1226              IPHI
 1227              INSI
 1228               NSP
 1229              INSP
 1230               IBP
 1231              INST
 1232              ITGR
 1233                 I
 1234               ICE
 1235               IHG
 1236               IBM
 1237               IFF
 1238              IFFT
 1239               IGT
 1240                IP
 1241              INSW
 1242               IPG
 1243              INXN
 1244               IPI
 1245               IVC
 1246               VBF
 Name: Symbol, Length: 311, dtype: object, 1248               VTA
 1249              IHIT
 1250              IHTA
 1251               VLT
 1252               IVR
 1253               OIA
 1254               VMO
 1255               VKQ
 1256               VPV
 1257               IVZ
 1258               IQI
 1259               VVR
 1260               VTN
 1261               VGM
 1262               IIM
 1263              IRET
 1264              NVTA
 1265              INVH
 1266                IO
 1267               IQV
 1268               IRM
 1269               IRS
 1270               ICL
 1271    STAR
 1272              ITCB
 1273              ITUB
 1274               ITT
 1275               IVH
 1276               JPM
 1277               JAX
              ...
 1527               MAA
 1528               MSL
 1529               MPO
 1530              MCRN
 1531               MLR
 1532               HIE
 1533               MTX
 1534                MG
 1535              MUFG
 1536              MIXT
 1537               MFG
 1538               MBT
 1539              MODN
 1540               MOD
 1541                MC
 1542              MOGU
 1543               MHK
 1544               MOH
 1545               TAP
 1546               MNR
 1547               MCO
 1548                MS
 1549               APF
 1550               CAF
 1551               MSD
 1552               EDD
 1553               IIF
 1554              MOSC
 1555               MOS
 1556               MSI
 Name: Symbol, Length: 309, dtype: object, 1558     MPLX
 1559      MRC
 1560      HJV
 1561      MSA
 1562      MSM
 1563     MSCI
 1564     MSGN
 1565      MLI
 1566      MWA
 1567      MVF
 1568      MZA
 1569      MUR
 1570     MUSA
 1571      MVO
 1572      MVC
 1573     MVCD
 1574      MYE
 1575     MYOV
 1576      NBR
 1577       NC
 1578      NTP
 1579    NTEST
 1580     NBHC
 1581      NFG
 1582      NGG
 1583      NHI
 1584      NOV
 1585      NPK
 1586      NNN
 1587      SID
         ...
 1837      PCI
 1838      PDI
 1839     NRGX
 1840      PGP
 1841      PHK
 1842      PKO
 1843      PFL
 1844      PFN
 1845      PMF
 1846      PML
 1847      PMX
 1848      PNF
 1849      PNI
 1850      PYN
 1851      RCS
 1852      PNW
 1853      PES
 1854      PHD
 1855      PHT
 1856      MAV
 1857      MHI
 1858      PXD
 1859      PJC
 1860      PBI
 1861     PVTL
 1862      PJT
 1863      PAA
 1864     PAGP
 1865     PLNT
 1866      PLT
 Name: Symbol, Length: 309, dtype: object, 1868     PHI
 1869     PNC
 1870     PNM
 1871     PII
 1872     POL
 1873     POR
 1874     PKX
 1875    POST
 1876    PPDF
 1877     PPG
 1878     PPX
 1879     PPL
 1880     PYS
 1881     PYT
 1882     PQG
 1883     PDS
 1884    APTS
 1885     PBH
 1886     PVG
 1887     PRI
 1888     PGZ
 1889     PRA
 1890      PG
 1891     PGR
 1892     PLD
 1893    PUMP
 1894     PRO
 1895     PBB
 1896     PBC
 1897     PBY
         ...
 2147     SWJ
 2148     SWK
 2149     SWP
 2150     STN
 2151     SGU
 2152     SRT
 2153    STWD
 2154     STT
 2155    SPLP
 2156     SCS
 2157     SCA
 2158     SCM
 2159     SCL
 2160     STE
 2161     STL
 2162     STC
 2163      SF
 2164     SFB
 2165     STM
 2166     EDF
 2167     EDI
 2168    STON
 2169     SRI
 2170    STOR
 2171     GJH
 2172     GJO
 2173     GJS
 2174     SYK
 2175     MSC
 2176     RGR
 Name: Symbol, Length: 309, dtype: object, 2178    SMFG
 2179     INN
 2180     SUM
 2181    SMLP
 2182     SUI
 2183     SLF
 2184    SXCP
 2185     SXC
 2186      SU
 2187     STG
 2188     SUN
 2189     SHO
 2190     STI
 2191     SPN
 2192     SUP
 2193     SUZ
 2194     SWZ
 2195    SWCH
 2196     SYF
 2197     SNX
 2198     SNV
 2199     GJP
 2200     GJR
 2201     GJT
 2202     GJV
 2203     SYY
 2204     SYX
 2205    DATA
 2206    TLRD
 2207     TWN
         ...
 2544     WWE
 2545      WP
 2546     WOR
 2547     WPP
 2548     WPX
 2549    WYND
 2550      WH
 2551     XYF
 2552    XFLT
 2553     XHR
 2554     XRX
 2555     XIN
 2556     XPO
 2557     XYL
 2558     AUY
 2559    YELP
 2560    YETI
 2561    YEXT
 2562     YRD
 2563     YPF
 2564    YUMC
 2565     YUM
 2566    ZAYO
 2567     ZEN
 2568     ZBH
 2569     ZBK
 2570     ZTS
 2571     ZTO
 2572     ZUO
 2573    ZYME
 Name: Symbol, Length: 396, dtype: object]

In [108]:
#for batch in nyse_batch:
for ticker in b1:
    data = quandl.get(f"WIKI/{ticker}", start_date="2017-01-01", end_date="2018-12-31")
    print(data, ticker)

NotFoundError: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

In [16]:
quandl.ApiConfig.api_key = f"{API_KEY}"
ticker = "AAPL"
Measure = "EOD"
MainUrl = "https://www.quandl.com/api/v3/datasets"
start_date = "2019-02-27"
end_date = "2019-03-01"
query_url = f"{MainUrl}/{Measure}/{ticker}?start_date={start_date}&end_date={end_date}&api_key={API_KEY}"
print(query_url)

https://www.quandl.com/api/v3/datasets/EOD/AAPL?start_date=2019-02-27&end_date=2019-03-01&api_key=xdaRYYNMMz7-US5y_vLA

In [100]:
ticker = "AMZN"
#start_date = "2019-02-27"
#end_date = "2019-03-01"
data = quandl.get(f"WIKI/{ticker}", start_date="1990-01-02", end_date="2018-12-31")
#data = quandl.get("WIKI/AAPL", start_date="2001-12-31", end_date="2005-12-31")

In [101]:
data

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1997-05-16,22.38,23.75,20.50,20.75,1225000.0,0.0,1.0,1.865000,1.979167,1.708333,1.729167,14700000.0
1997-05-19,20.50,21.25,19.50,20.50,508900.0,0.0,1.0,1.708333,1.770833,1.625000,1.708333,6106800.0
1997-05-20,20.75,21.00,19.63,19.63,455600.0,0.0,1.0,1.729167,1.750000,1.635833,1.635833,5467200.0
1997-05-21,19.25,19.75,16.50,17.13,1571100.0,0.0,1.0,1.604167,1.645833,1.375000,1.427500,18853200.0
1997-05-22,17.25,17.38,15.75,16.75,981400.0,0.0,1.0,1.437500,1.448333,1.312500,1.395833,11776800.0
1997-05-23,16.88,18.25,16.00,18.00,1328100.0,0.0,1.0,1.406667,1.520833,1.333333,1.500000,15937200.0
1997-05-27,17.75,19.75,17.50,19.00,724800.0,0.0,1.0,1.479167,1.645833,1.458333,1.583333,8697600.0
1997-05-28,19.31,19.63,18.38,18.38,381200.0,0.0,1.0,1.609167,1.635833,1.531667,1.531667,4574400.0
1997-05-29,18.50,18.50,17.75,18.06,289400.0,0.0,1.0,1.541667,1.541667,1.479167,1.505000,3472800.0
1997-05-30,18.00,18.13,17.75,18.00,216200.0,0.0,1.0,1.500000,1.510833,1.479167,1.500000,2594400.0
1997-06-02,18.13,18.38,18.00,18.13,49300.0,0.0,1.0,1.510833,1.531667,1.500000,1.510833,591600.0
1997-06-03,18.38,18.38,17.75,17.75,98600.0,0.0,1.0,1.531667,1.531667,1.479167,1.479167,1183200.0
1997-06-04,17.75,17.88,16.75,17.00,256700.0,0.0,1.0,1.479167,1.490000,1.395833,1.416667,3080400.0
1997-06-05,17.00,18.50,16.50,18.50,472700.0,0.0,1.0,1.416667,1.541667,1.375000,1.541667,5672400.0
1997-06-06,18.13,20.50,18.13,19.88,650600.0,0.0,1.0,1.510833,1.708333,1.510833,1.656667,7807200.0
1997-06-09,20.25,20.50,19.88,20.25,196000.0,0.0,1.0,1.687500,1.708333,1.656667,1.687500,2352000.0
1997-06-10,20.50,20.50,18.38,19.00,454900.0,0.0,1.0,1.708333,1.708333,1.531667,1.583333,5458800.0
1997-06-11,19.13,19.25,18.38,18.50,99000.0,0.0,1.0,1.594167,1.604167,1.531667,1.541667,1188000.0
1997-06-12,19.00,19.75,18.63,19.25,136000.0,0.0,1.0,1.583333,1.645833,1.552500,1.604167,1632000.0
1997-06-13,19.50,19.50,19.00,19.00,57800.0,0.0,1.0,1.625000,1.625000,1.583333,1.583333,693600.0
1997-06-16,19.00,19.25,18.75,18.88,76100.0,0.0,1.0,1.583333,1.604167,1.562500,1.573333,913200.0
1997-06-17,18.94,19.19,17.94,18.06,392200.0,0.0,1.0,1.578333,1.599167,1.495000,1.505000,4706400.0
1997-06-18,18.25,18.44,18.00,18.13,205400.0,0.0,1.0,1.520833,1.536667,1.500000,1.510833,2464800.0
1997-06-19,18.13,18.38,18.00,18.13,83600.0,0.0,1.0,1.510833,1.531667,1.500000,1.510833,1003200.0
1997-06-20,18.38,18.63,18.00,18.31,282300.0,0.0,1.0,1.531667,1.552500,1.500000,1.525833,3387600.0
1997-06-23,18.25,18.50,17.75,18.00,87300.0,0.0,1.0,1.520833,1.541667,1.479167,1.500000,1047600.0
1997-06-24,18.06,18.31,17.75,18.13,62600.0,0.0,1.0,1.505000,1.525833,1.479167,1.510833,751200.0
1997-06-25,18.13,18.31,17.88,18.13,175500.0,0.0,1.0,1.510833,1.525833,1.490000,1.510833,2106000.0
1997-06-26,18.25,18.25,18.06,18.13,265800.0,0.0,1.0,1.520833,1.520833,1.505000,1.510833,3189600.0
1997-06-27,18.19,18.19,17.75,17.88,99000.0,0.0,1.0,1.515833,1.515833,1.479167,1.490000,1188000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-13,1385.93,1419.72,1383.53,1414.51,5858860.0,0.0,1.0,1385.930000,1419.720000,1383.530000,1414.510000,5858860.0
2018-02-14,1406.25,1452.06,1403.36,1451.05,5881238.0,0.0,1.0,1406.250000,1452.060000,1403.360000,1451.050000,5881238.0
2018-02-15,1466.89,1468.94,1436.84,1461.76,5598111.0,0.0,1.0,1466.890000,1468.940000,1436.840000,1461.760000,5598111.0
2018-02-16,1457.37,1465.80,1446.56,1448.69,4410879.0,0.0,1.0,1457.370000,1465.800000,1446.560000,1448.690000,4410879.0
2018-02-20,1446.49,1488.77,1446.49,1468.35,6388374.0,0.0,1.0,1446.490000,1488.770000,1446.490000,1468.350000,6388374.0
2018-02-21,1485.00,1503.49,1478.92,1482.92,6216694.0,0.0,1.0,1485.000000,1503.490000,1478.920000,1482.920000,6216694.0
2018-02-22,1495.36,1502.54,1475.76,1484.76,4732555.0,0.0,1.0,1495.360000,1502.540000,1475.760000,1484.760000,4732555.0
2018-02-23,1495.34,1500.00,1486.50,1500.00,4327008.0,0.0,1.0,1495.340000,1500.000000,1486.500000,1500.000000,4327008.0
2018-02-26,1509.20,1522.84,1507.00,1521.95,4909053.0,0.0,1.0,1509.200000,1522.840000,1507.000000,1521.950000,4909053.0
2018-02-27,1524.50,1526.78,1507.21,1511.98,4708378.0,0.0,1.0,1524.500000,1526.780000,1507.210000,1511.980000,4708378.0
2018-02-28,1519.51,1528.70,1512.00,1512.45,4426580.0,0.0,1.0,1519.510000,1528.700000,1512.000000,1512.450000,4426580.0
2018-03-01,1513.60,1518.49,1465.00,1493.45,6835230.0,0.0,1.0,1513.600000,1518.490000,1465.000000,1493.450000,6835230.0
2018-03-02,1469.10,1501.05,1455.01,1500.25,6587564.0,0.0,1.0,1469.100000,1501.050000,1455.010000,1500.250000,6587564.0
2018-03-05,1494.24,1525.38,1481.00,1523.61,5233934.0,0.0,1.0,1494.240000,1525.380000,1481.000000,1523.610000,5233934.0
2018-03-06,1533.20,1542.13,1528.00,1537.64,4561718.0,0.0,1.0,1533.200000,1542.130000,1528.000000,1537.640000,4561718.0
2018-03-07,1526.52,1545.90,1522.51,1545.00,4174123.0,0.0,1.0,1526.520000,1545.900000,1522.510000,1545.000000,4174123.0
2018-03-08,1550.00,1554.88,1545.25,1551.86,3512528.0,0.0,1.0,1550.000000,1554.880000,1545.250000,1551.860000,3512528.0
2018-03-09,1563.50,1578.94,1559.08,1578.89,4417059.0,0.0,1.0,1563.500000,1578.940000,1559.080000,1578.890000,4417059.0
2018-03-12,1592.60,1605.33,1586.70,1598.39,5115886.0,0.0,1.0,1592.600000,1605.330000,1586.700000,1598.390000,5115886.0
2018-03-13,1615.96,1617.54,1578.01,1588.18,6427066.0,0.0,1.0,1615.960000,1617.540000,1578.010000,1588.180000,6427066.0
2018-03-14,1597.00,1606.44,1590.89,1591.00,4164395.0,0.0,1.0,1597.000000,1606.440000,1590.890000,1591.000000,4164395.0
2018-03-15,1595.00,1596.91,1578.11,1582.32,4026744.0,0.0,1.0,1595.000000,1596.910000,1578.110000,1582.320000,4026744.0
2018-03-16,1583.45,1589.44,1567.50,1571.68,5145054.0,0.0,1.0,1583.450000,1589.440000,1567.500000,1571.680000,5145054.0
2018-03-19,1554.53,1561.66,1525.35,1544.93,6376619.0,0.0,1.0,1554.530000,1561.660000,1525.350000,1544.930000,6376619.0
2018-03-20,1550.34,1587.00,1545.41,1586.51,4507049.0,0.0,1.0,1550.340000,1587.000000,1545.410000,1586.510000,4507049.0
2018-03-21,1586.45,1590.00,1563.17,1581.86,4667291.0,0.0,1.0,1586.450000,1590.000000,1563.170000,1581.860000,4667291.0
2018-03-22,1565.47,1573.85,1542.40,1544.10,6177737.0,0.0,1.0,1565.470000,1573.850000,1542.400000,1544.100000,6177737.0
2018-03-23,1539.01,1549.02,1495.36,1495.56,7843966.0,0.0,1.0,1539.010000,1549.020000,1495.360000,1495.560000,7843966.0
2018-03-26,1530.00,1556.99,1499.25,1555.86,5547618.0,0.0,1.0,1530.000000,1556.990000,1499.250000,1555.860000,5547618.0
2018-03-27,1572.40,1575.96,1482.32,1497.05,6793279.0,0.0,1.0,1572.400000,1575.960000,1482.320000,1497.050000,6793279.0

In [4]:
ticker_response = requests.get(query_url).json()

In [5]:
print(json.dumps(ticker_response, indent=4, sort_keys=True))

{
    "dataset": {
        "collapse": null,
        "column_index": null,
        "column_names": [
            "Date",
            "Open",
            "High",
            "Low",
            "Close",
            "Volume",
            "Dividend",
            "Split",
            "Adj_Open",
            "Adj_High",
            "Adj_Low",
            "Adj_Close",
            "Adj_Volume"
        ],
        "data": [
            [
                "2019-03-01",
                174.28,
                175.15,
                172.89,
                174.97,
                25886167.0,
                0.0,
                1.0,
                174.28,
                175.15,
                172.89,
                174.97,
                25886167.0
            ],
            [
                "2019-02-28",
                174.32,
                174.91,
                172.92,
                173.15,
                28215416.0,
                0.0,
                1.0,
                174.32,
                174.91,
                172.92,
                173.15,
                28215416.0
            ],
            [
                "2019-02-27",
                173.21,
                175.0,
                172.73,
                174.87,
                27835389.0,
                0.0,
                1.0,
                173.21,
                175.0,
                172.73,
                174.87,
                27835389.0
            ]
        ],
        "database_code": "EOD",
        "database_id": 12910,
        "dataset_code": "AAPL",
        "description": "<p><b>Ticker</b>: AAPL</p>\n<p><b>Exchange</b>: NASDAQ</p>\n<p>Prices, dividends, splits for Apple Inc. (AAPL).\n\n<p>Columns:</p>\n<p>Open, High, Low, Close, Volume are <b>unadjusted</b>.</p>\n<p>Dividend shows the <b>unadjusted</b> dividend on any ex-dividend date else 0.0.</p>\n<p>Split shows any split that occurred on a the given DATE else 1.0</p>\n<p>Adjusted values are adjusted for dividends and splits using the <a href='http://www.crsp.com/products/documentation/crsp-calculations'>CRSP methodology</a>.</p>\n<p>Updates of this dataset occur at 5pm ET.  Subsequent corrections from the exchange are applied at 9pm ET.</p>\n<p>Data is sourced from NASDAQ, NYSE and AMEX via <a href='http://www.quotemedia.com'>Quotemedia</a>.</p>\n\n",
        "end_date": "2019-03-01",
        "frequency": "daily",
        "id": 42600776,
        "limit": null,
        "name": "Apple Inc. (AAPL) Stock Prices, Dividends and Splits",
        "newest_available_date": "2019-03-01",
        "oldest_available_date": "1980-12-12",
        "order": null,
        "premium": true,
        "refreshed_at": "2019-03-02T01:52:13.446Z",
        "start_date": "2019-02-27",
        "transform": null,
        "type": "Time Series"
    }
}

In [85]:
quandl.bulkdownload("AAPL")

ForbiddenError: (Status 403) (Quandl Error QEPx04) You do not have permission to view this dataset. Please subscribe to this database to get access.