### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [117]:
playersdf = purchase_data.drop_duplicates('SN')
player_data = playersdf[['SN', 'Age', 'Gender']]
player_data= player_data.reset_index(drop=True)
player_data.head(10)

              SN  Age                 Gender
0        Lisim78   20                   Male
1    Lisovynya38   40                   Male
2     Ithergue48   24                   Male
3  Chamassasya86   24                   Male
4      Iskosia90   23                   Male
5        Yalae81   22                   Male
6      Itheria73   36                   Male
7    Iskjaskst81   20                   Male
8      Undjask33   22                   Male
9    Chanosian48   35  Other / Non-Disclosed

In [118]:
print("Total Players: ", len(player_data))

Total Players:  576

In [119]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [120]:
total_purchase = purchase_data.groupby('SN').sum()
total_purchase
#total_purchase.dtypes

                 Purchase ID  Age  Item ID  Price
SN
Adairialis76             467   16      123   2.28
Adastirin33              142   35      175   4.48
Aeda94                   388   17      128   4.91
Aela59                    28   21      119   4.32
Aelaria33                630   23      171   1.79
Aelastirin39             984   46      134   7.29
Aelidru27                705   22      183   1.09
Aelin32                  723   60      326   8.98
Aelly27                  471   48      130   6.79
Aellynun67               286   25      153   3.74
Aellyria80               746   23      159   3.08
Aelollo59                634   66      175   5.63
Aenarap34                183   21       15   2.96
Aeral43                  263   24       78   4.40
Aeral68                  674   43       77   4.00
Aeral97                  167   23      157   4.80
Aeralria27                32   10      133   4.09
Aeralstical35            583   20       49   2.96
Aeri84                   303   24       71   1.61
Aerillorin70             381   16       83   3.33
Aerithllora36            852   58      235   8.64
Aerithnucal56            324   15      154   4.40
Aerithnuphos61           517   39      128   4.91
Aerithriaphos45           40   20      143   1.56
Aerithriaphos46          236   16      107   2.18
Aesri53                  541   31      161   1.76
Aesty53                  377   42      178   3.91
Aestysu37                725   50      183   5.38
Aesur96                  468   23       30   2.21
Aesurstilis64            405   25       70   1.03
...                      ...  ...      ...    ...
Undosia27                229   17       72   3.77
Undosian34               710   42      169   8.30
Undotesta33              704   18       95   4.74
Wailin72                 283   21        9   2.73
Yadacal26                834   30       69   6.54
Yadaisuir65              625   20      133   4.09
Yadam35                  553   28        2   2.48
Yadanu52                  60   34       44   2.38
Yadaphos40               483   60      204   5.35
Yalae81                  452   44      201   6.69
Yalaeria91               681   33       28   1.06
Yaliru88                  59   19      105   3.03
Yalo85                   383   34       11   3.65
Yalostiphos68            518   29      160   4.40
Yana46                   280   20       16   3.55
Yarithllodeu72           364   22       88   3.75
Yarithrgue83             279   20      163   3.45
Yarithrin84              698   30       58   4.14
Yarithsurgue62           231   26      139   4.94
Yarolwen77               696   30       87   4.43
Yasrisu92                 46   27      102   3.44
Yastyriaphos75           340   22       41   4.75
Yasur35                  257   26      175   4.48
Yasur85                  514   21       21   1.10
Yathecal72               777   20       67   3.46
Yathecal82              1400   60      241   6.22
Yathedeu43               688   44      143   6.02
Yoishirrala98            572   17      145   4.58
Zhisrisu83               195   20       85   7.89
Zontibe81               1019   63      247   8.03

[576 rows x 4 columns]

In [121]:
#player_data['Total Paid'] = total_purchase['Price']
#player_data.dtypes

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
unique_items = purchase_data['Item ID'].nunique()
unique_items

183

In [123]:
total_rev = purchase_data['Price'].sum()
total_rev

2379.77

In [124]:
npurchases = purchase_data['Purchase ID'].nunique()
npurchases

780

In [125]:
avg_price = (total_rev/npurchases)
avg_price

3.0509871794871795

In [126]:
d = {'Unique Items': [unique_items], 'Average Price': [avg_price], 
     'Number of Purchases': [npurchases], 'Total Revenue': [total_rev]}
summarydf = pd.DataFrame(data=d)
summarydf

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [127]:
gender_data = player_data['Gender'].value_counts()

In [128]:
genderdf = pd.DataFrame(gender_data)

In [200]:
genderdf['pct'] = ((genderdf['Gender']/len(player_data))*100).round(2)
genderdf

                       Gender    pct
Male                      484  84.03
Female                     81  14.06
Other / Non-Disclosed      11   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [220]:
female_purchase = purchase_data[purchase_data['Gender'] == 'Female']

In [221]:
purchase_count_f = len(female_purchase)

In [222]:
total_purchase_f = female_purchase['Price'].sum()

In [223]:
avg_purchase_f = (total_purchase_f/purchase_count_f).round(2)

In [224]:
avg_purchase_per_f = (total_purchase_f/len(female_purchase['SN'].unique())).round(2)

In [225]:
male_purchase = purchase_data[purchase_data['Gender'] == 'Male']

In [226]:
purchase_count_m = len(male_purchase)

In [227]:
total_purchase_m = male_purchase['Price'].sum()

In [228]:
avg_purchase_m = (total_purchase_m/purchase_count_m).round(2)

In [229]:
avg_purchase_per_m = (total_purchase_m/len(male_purchase['SN'].unique())).round(2)

In [230]:
other_purchase = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']

In [231]:
purchase_count_o = len(other_purchase)

In [232]:
total_purchase_o = other_purchase['Price'].sum()

In [233]:
avg_purchase_o = (total_purchase_o/purchase_count_o).round(2)

In [234]:
avg_purchase_per_o = (total_purchase_o/len(other_purchase['SN'].unique())).round(2)

In [219]:
purchase_summary_df = {'Gender': ['Female', 'Male', 'Other / Non-Disclosed'],
                      'Purchase Count': [purchase_count_f, purchase_count_m, purchase_count_o],
                      'Average Purchase Price': [avg_purchase_f, avg_purchase_m, avg_purchase_o],
                      'Total Purchase Value': [total_purchase_f, total_purchase_m, total_purchase_o],
                      'Average Total Purchase Price per Person': [avg_purchase_per_f, avg_purchase_per_m, avg_purchase_per_o]}
purchase_summary_df = pd.DataFrame(data=purchase_summary_df)
purchase_summary_df.set_index('Gender')

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Price per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [192]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [327]:
player_data['Age group'] = pd.cut(player_data['Age'], bins, labels=labels)
PlayerData = player_data.drop('age_group', axis=1)
PlayerData.head()

              SN  Age Gender Age group
0        Lisim78   20   Male     20-24
1    Lisovynya38   40   Male       40+
2     Ithergue48   24   Male     20-24
3  Chamassasya86   24   Male     20-24
4      Iskosia90   23   Male     20-24

In [194]:
AgeData = PlayerData.groupby('Age group').count()

In [195]:
AgeData = AgeData.rename(columns={'SN':'Total count'})

In [196]:
AgeData = AgeData.drop(['Age', 'Gender'], axis=1)

In [199]:
AgeData['Percent of Players'] = ((AgeData['Total count']/len(PlayerData))*100).round(2)
AgeData

           Total count  Percent of Players
Age group
<10                 17                2.95
10-14               22                3.82
15-19              107               18.58
20-24              258               44.79
25-29               77               13.37
30-34               52                9.03
35-39               31                5.38
40+                 12                2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [268]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [271]:
purchase_data['Age group'] = pd.cut(purchase_data['Age'], bins, labels=labels)
#PlayerData = player_data.drop('age_group', axis=1)
purchase_data.groupby('Age group').count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age group
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [296]:
purchase_data_price = purchase_data.drop(['SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Purchase ID'], axis=1)

In [295]:
purchase_summary = purchase_data_price.groupby('Age group').sum()

In [285]:
purchase_summary = purchase_summary.rename(columns={'Price':'Total Purchase Value'})

In [292]:
purchase_summary['Average Purchase Price'] = purchase_data_price.groupby('Age group').mean().round(2)

In [293]:
purchase_summary["Average Total Purchase per Person"] = (purchase_summary['Total Purchase Value']/AgeData['Total count']).round(2)

In [294]:
purchase_summary['Purchase count'] = AgeData['Total count']
purchase_analysis = purchase_summary[['Purchase count', 'Average Purchase Price', 'Total Purchase Value', 'Average Total Purchase per Person']]
purchase_analysis

,Purchase count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age group,,,,
<10,17,3.35,77.13,4.54
10-14,22,2.96,82.78,3.76
15-19,107,3.04,412.89,3.86
20-24,258,3.05,1114.06,4.32
25-29,77,2.90,293.00,3.81
30-34,52,2.93,214.00,4.12
35-39,31,3.60,147.67,4.76
40+,12,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [323]:
top_spenders = purchase_data.groupby('SN').sum()

In [324]:
top_spenders_count = purchase_data.groupby('SN').count()
#top_spenders_count = top_spenders_count.sort_values(by=['Purchase ID'], ascending=False)
#top_spenders_count

In [326]:
#top_spenders = top_spenders.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)
#top_spenders = top_spenders.sort_values(by=['Price'], ascending=False)

#top_spenders = top_spenders.reset_index()
top_spenders['Purchase Count'] = top_spenders_count['Purchase ID']
top_spenders['Total Purchase Value'] = top_spenders['Price']
top_spenders['Average Purchase Price'] = (top_spenders['Total Purchase Value']/top_spenders['Purchase Count']).round(2)
top_spenders_summary = top_spenders[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
top_spenders_summary = top_spenders_summary.sort_values(by=['Total Purchase Value'], ascending=False)
top_spenders_summary.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [340]:
popular_items = purchase_data[['Item ID', 'Item Name', 'Price']]
popular_items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [344]:
popular_items_ID = popular_items.groupby(['Item Name']).sum()
popular_items_ID = popular_items_ID.sort_values(by=['Price'], ascending=False)
popular_items_ID

                                              Item ID  Price
Item Name
Final Critic                                     1241  59.99
Oathbreaker, Last Hope of the Breaking Storm     2136  50.76
Nirvana                                           738  44.10
Fiery Glass Crusader                             1305  41.22
Singed Scalpel                                    824  34.80
Lightning, Etcher of the King                     472  33.84
Extraction, Quickblade Of Trembling Hands         972  31.77
Glimmer, Ender of the Moon                        546  30.80
Winter's Bite                                     576  30.16
Persuasion                                       1251  28.99
Wolf                                              480  28.32
Wolf, Promise of the Moonwalker                  1074  26.88
Azurewrath                                        960  26.40
Hero Cane                                         150  26.10
Shadow Strike, Glory of Ending Hope               296  25.28
Mercy, Katana of Dismay                           695  24.70
Blazeguard, Reach of Eternity                     640  24.55
Peacekeeper, Wit of Dark Magic                    690  23.70
Deluge, Edge of the West                          435  22.15
Oathbreaker, Spellblade of Trials                1113  21.56
Ghastly Adamantite Protector                      816  21.48
Conqueror Adamantite Mace                         325  21.20
Avenger                                           612  20.64
Faith's Scimitar                                  665  20.45
Betrayal, Whisper of Grieving Widows              195  19.70
Misery's End                                      444  19.56
Bone Crushing Silver Skewer                       660  19.44
Hatred                                            208  19.36
Brutality Ivory Warmace                           600  19.36
Spada, Etcher of Hatred                           628  19.20
...                                               ...    ...
Souleater                                         105   5.50
Scalpel                                           513   5.37
Possessed Core                                     28   5.22
Venom Claymore                                    496   5.16
Splinter                                            0   5.12
War-Forged Gold Deflector                         775   5.05
Rage, Legacy of the Lone Victor                    96   4.96
Darkheart, Butcher of the Champion                316   4.90
Endbringer                                         51   4.66
Undead Crusader                                   134   4.50
Warped Diamond Crusader                           405   4.20
Celeste                                            91   4.17
Winterthorn, Defender of Shifting Worlds          354   4.16
Hope's End                                        280   4.12
Spectral Diamond Doomblade                        230   4.08
Frenzy, Defender of the Harvest                   138   3.96
Alpha, Reach of Ending Hope                        47   3.58
Riddle, Tribute of Ended Dreams                    27   3.30
Dragon's Greatsword                               549   3.27
Trickster                                          62   3.10
Sun Strike, Jaws of Twisted Visions               336   2.96
Betrayer                                           90   2.94
Curved Axe                                         66   2.32
Unholy Wand                                        52   2.24
Ghost Reaver, Longsword of Magic                  118   2.17
Flux, Destroyer of Due Diligence                   56   2.12
Whistling Mithril Warblade                        250   2.00
Exiled Mithril Longsword                          126   2.00
Gladiator's Glaive                                104   1.93
The Decapitator                                    42   1.75

[179 rows x 2 columns]

In [345]:
popular_items_Name = popular_items.groupby(['Item Name']).count()
popular_items_Name = popular_items_Name.sort_values(by=['Item ID'], ascending=False)
popular_items_Name

                                              Item ID  Price
Item Name
Final Critic                                       13     13
Oathbreaker, Last Hope of the Breaking Storm       12     12
Persuasion                                          9      9
Nirvana                                             9      9
Extraction, Quickblade Of Trembling Hands           9      9
Fiery Glass Crusader                                9      9
Pursuit, Cudgel of Necromancy                       8      8
Brutality Ivory Warmace                             8      8
Singed Scalpel                                      8      8
Shadow Strike, Glory of Ending Hope                 8      8
Retribution Axe                                     8      8
Lightning, Etcher of the King                       8      8
Winter's Bite                                       8      8
Wolf                                                8      8
Exiled Doomblade                                    7      7
Suspension                                          7      7
Demise                                              7      7
Oathbreaker, Spellblade of Trials                   7      7
Heartstriker, Legacy of the Light                   7      7
Malificent Bag                                      7      7
Thorn, Satchel of Dark Souls                        7      7
Vengeance Cleaver                                   7      7
Glimmer, Ender of the Moon                          7      7
Blood Infused Guardian                              6      6
Dawne                                               6      6
Agatha                                              6      6
Wolf, Promise of the Moonwalker                     6      6
Amnesia                                             6      6
Apocalyptic Battlescythe                            6      6
Ghastly Adamantite Protector                        6      6
...                                               ...    ...
Curved Axe                                          2      2
Stormfury Longsword                                 2      2
Foul Titanium Battle Axe                            2      2
Darkheart, Butcher of the Champion                  2      2
Possessed Core                                      2      2
Rage, Legacy of the Lone Victor                     2      2
Winterthorn, Defender of Shifting Worlds            2      2
Whistling Mithril Warblade                          2      2
Spectral Diamond Doomblade                          2      2
Relentless Iron Skewer                              2      2
Sun Strike, Jaws of Twisted Visions                 2      2
Heartseeker, Reaver of Souls                        2      2
Foul Edge                                           2      2
Flux, Destroyer of Due Diligence                    2      2
Trickster                                           2      2
Frenzy, Defender of the Harvest                     2      2
Rusty Skull                                         2      2
Torchlight, Bond of Storms                          2      2
Stormfury Mace                                      2      2
Unholy Wand                                         2      2
Exiled Mithril Longsword                            1      1
Undead Crusader                                     1      1
Endbringer                                          1      1
Alpha, Reach of Ending Hope                         1      1
Celeste                                             1      1
Riddle, Tribute of Ended Dreams                     1      1
Betrayer                                            1      1
The Decapitator                                     1      1
Gladiator's Glaive                                  1      1
Ghost Reaver, Longsword of Magic                    1      1

[179 rows x 2 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame